node_modules/
dist/
build/
.env
log/
*.log
.DS_Store
npm-debug.log
yarn-error.log
coverage/
.vscode/
.idea/
*.local
*.cache
*.swp
*.swo
*.zip
*.tar.gz
*.tgz
*.bak
*.tmp
*.out
*.exe
*.dll
*.pyc
__pycache__/
client/public/avatars/
server/public/avatars/ 